<div class="posts-wrapper">
  <nav class="navbar">
    <span class="nav-brand"><i class="bi bi-bluesky"></i> Antigram</span>
    <div class="nav-links">
      @if (auth.getUser()?.rol === 'administrador') {
        <a (click)="router.navigate(['/dashboard/usuarios'])" appTooltip="Usuarios">
          <i class="bi bi-people"></i>
        </a>
        <a (click)="router.navigate(['/dashboard/stats'])" appTooltip="Estadisticas">
          <i class="bi bi-bar-chart"></i>
        </a>
      }
      <a (click)="router.navigate(['/posts'])" appTooltip="Home">
        <i class="bi bi-house-heart"></i>
      </a>
      <button (click)="auth.logout()" appTooltip="Salir"
      ><i class="bi bi-escape"></i>
    </button>
    </div>
  </nav>

  <div class="posts-container">

    <!-- Crear publicación -->
    <div class="crear-post">
      <h3><i class="bi bi-patch-plus"></i> New Post</h3>
      <input type="text" [(ngModel)]="nuevoPost.titulo" placeholder="Title" class="input-field" />
      <textarea [(ngModel)]="nuevoPost.descripcion" placeholder="Comments" rows="3" class="input-field"></textarea>
      <div class="crear-footer">
        <label class="file-btn">
          <i class="bi bi-postage-heart"></i> {{ postFileName || 'Add' }}
          <input type="file" accept="image/*" (change)="onPostFile($event)" hidden />
        </label>
        <button class="btn-publicar" (click)="crearPost()" [disabled]="creando || !nuevoPost.titulo || !nuevoPost.descripcion">
          @if (creando) { <span class="spinner"></span> } @else { Post } <i class="bi bi-cloud-arrow-up"></i>
        </button>
      </div>
    </div>

    <!-- Ordenamiento y paginación -->
    <div class="toolbar">
      <div class="orden-btns">
        <button [class.active]="orden === 'fecha'" (click)="cambiarOrden('fecha')">
          <i class="bi bi-calendar-heart"></i> By date
        </button>
        <button [class.active]="orden === 'likes'" (click)="cambiarOrden('likes')">
          <i class="bi bi-emoji-heart-eyes"></i> By loved
        </button>
      </div>
      <span class="paginacion-info">{{ paginaActual }} / {{ totalPaginas }}</span>
    </div>

    <!-- posts lista -->
    @if (loading) {
      <div class="loading"><span class="spinner-dark"></span> loading...</div>
    } @else {
      @for (post of posts; track post._id) {
        <app-post-card [post]="post" (deleted)="onDeleted($event)" (liked)="onLiked($event)" />
      }
      @if (posts.length === 0) {
        <div class="empty">Nothing yet <i class="ti ti-file-sad"></i></div>
      }
    }

    <!-- Paginación -->
    <div class="paginacion">
      <button (click)="paginaAnterior()" [disabled]="offset === 0">
        <i class="bi bi-chevron-left"></i>
      </button>
      <span>{{ paginaActual }} / {{ totalPaginas }}</span>
      <button (click)="paginaSiguiente()" [disabled]="offset + limit >= total">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>

  </div>
  
  <app-session-modal 
  [visible]="sessionModalVisible" 
  (respuesta)="sessionService.responderModal($event); sessionModalVisible = false">
</app-session-modal>

</div>

<app-modal [visible]="modal.visible" [message]="modal.message" [type]="modal.type" />